.movie {
    width: 160px; /*This is the size of each box  poster image*/
    margin-bottom: 45px;
    padding: 1.3em;

}

.movieImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.movieInformation {
    display: flex;
    flex-direction: column;

}

.bookBtn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    margin: auto;
    background-color: #FEA680;
    border-radius: 4px;
    color: black;
}

.bookBtn:hover {
    background-color: #ff9669;
}

.bookBtn:visited, .bookBtn:active {
    color: black;
}
