.navflex {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: #496A81;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
    margin-bottom: 10px;
}

.nav-logo {
    height: 70px;
    width: 60px;
}

.nav-title {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    color: #f9f7f3;
}

/** This ensures that the logo and title are to the left*/
.divider {
    margin-inline-start: auto;
}

.navflex li {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.navflex li:hover {
    background-color: #5F7C90;
}

.navflex a {
    text-decoration: none;
    display: block;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: #f9f7f3;
    font-size: 18px;
}

#logo-link {
    padding: 0px;
}

#title-link {
    margin: 0px;
    padding: 10px 0px;
}