.navflex {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: #FBD266;
    font-family: 'Cabin', arial;
}

.navflex li {
    text-decoration: none;
}

.navflex li:hover {
    background-color: #ffda7d;
}

.navflex a {
    text-decoration: none;
    display: block;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    font-size: large;
}