.change-pw-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.password-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}