.forgot-pw-wrap {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.forgot-pw-fields {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forgot-submit {
    border: #738C9D;
    border-radius: 4px;
}