.login-wrap {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.login-fields {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
input[type="text"], input[type="password"] {
    height: 25px;
}
  
input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: #738C9D;
    padding: 10px 10px;
}
  
.button-container {
    display: flex;
    justify-content: center;
}
  
.title {
    font-size: 25px;
    margin-bottom: 20px;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.seat-btn {
    border: #738C9D;
}