.add-movie-wrap {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* The display flex and column in add-input allows the Title to be above the input,
   rather than side by side with it*/
.add-input {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border: none;
    width: 100%;
    padding: 12px 12px;
}

.add-center {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.submit-movie-btn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.submit-movie-btn:hover {
    background-color: #ACBAC2;
}