.add-promo-wrap {
    box-sizing: content-box;
    font-family: 'Cabin', arial;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.promo-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.submit-promo-btn {
    text-align: center;
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #FEA680;
    border-radius: 4px;
    color: black;
}