.admin-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.admin-home-btn {
  width: 100px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  background-color: #738C9D;
  border-radius: 4px;
  color: black;
}

.admin-home-btn:hover {
  background-color: #ACBAC2;
}