@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.editmovie {
  box-sizing: content-box;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 12000px;
  padding: 10 10px;
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

table {
  border-collapse:collapse;
  max-width: 12000px;
}


tr th {
  font-size: 20px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

tr td {
  border: 1px solid #eeeeee;
  text-align: left;
}

input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  background-color: #fffaf3;
}

input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

html {
    background-color: #eee0cc;
}