@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.edit-movie {
  box-sizing: content-box;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 12000px;
  padding: 10 10px;
  margin-top: 70px;
}

.edit-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.edit-table {
  border-collapse:collapse;
  max-width: 12000px;
}

.edit-table-h {
  font-size: 20px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: #9AC7FE;
}

.edit-input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 12px 12px;
  font-family: 'PT Sans', sans-serif;
}

.edit-input:hover {
  background-color: #fffaf3;
}

.edit-input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

.edit-center {
  margin-top: 50px;
  text-align: center;
  display: inline-block;
  flex-direction: column;
}

.add-movie-btn {
  width: 100px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  background-color: #738C9D;
  border-radius: 4px;
  color: black;
}

.add-movie-btn:hover {
  background-color: #ACBAC2;
}