.pricing-promo-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.promo-tables {
    border: 2px solid #9AC7FE;
    width: 800px;
    height: 200px;
    text-align: center;
}
    
.promo-th {
    border-bottom: 1px solid black;
}
    
.promo-row {
      text-align: center;
}

.price-btns {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: #738C9D;
  border-radius: 4px;
  color: black;
}

.price-btns:hover {
  background-color: #ACBAC2;
}

.add-promo-btn {
  text-align: center;
  width: 100px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  background-color: #738C9D;
  border-radius: 4px;
  color: black;
}

.add-promo-btn:hover {
  background-color: #ACBAC2;
}