.users-wrap {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.times-users {    
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.times-users:hover {
    background-color: #ACBAC2;
}

.user-table {
    border: 2px solid #9AC7FE;
    width: 800px;
    height: 200px;
    text-align: center;
}
    
.user-head {
    border-bottom: 1px solid black;
}

.user-home-center {
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
  }
  
  .home-button {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
  }

  .home-button:hover {
    background-color: #ACBAC2;
  }