.userportal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  html {
    background-color: #eee0cc;
}

  table {
    border: 2px solid #fea680;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  tr {
      text-align: center;
  }

  td {
    text-align: center;
  }