/**addPayment has the css for the form fields, it just steals from that page
if you need to edit the fields, take into account it will change both*/

.checkout-wrap {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

.btn-center {
    display: inline-flex;
    flex-direction: column;
}

.confirm-btn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.confirm-btn:hover {
    background-color: #ACBAC2;
}