
.confirm-wrap {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.email-sent{
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-btn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.home-btn:hover {
    background-color: #ACBAC2;
}