.order-wrap {
    text-align: center;
    font-family: 'Cabin', arial;
}

.order-summary {
    font-size: 20px;
}

.ticket-total {
    margin-top: 10px;
}

.update-order {
    margin-top: 50px;
    display: inline-flex;
    flex-direction: column;
}

.update-btn {
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #FEA680;
    border-radius: 4px;
    color: black;
}

.update-btn:hover {
    background-color: #ff9669;
}

.ticket-tables {
    border: 1px solid;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}