
.orderWrap {
    text-align: center;
    font-family: 'Cabin', arial;
}

.orderSummary {
    font-size: 20px;
}

.ticketTotal {
    margin-top: 10px;
}

.updateOrder {
    margin-top: 50px;
    display: inline-flex;
    flex-direction: column;
}

.updateBtn {
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #FEA680;
    border-radius: 4px;
    color: black;
}
.updateBtn:hover {
    background-color: #ff9669;
}

.ticketTable {
    border: 1px solid;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.feeTable {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}