
.seat-wrap {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.seating-table {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

.screen-img {
    background-color: #76777c;
    text-align: center;

}

.table-seats {
    border-spacing: 10px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    
}

.seat-row {
    border: 0;
}

.space-from-screen {
    height: 100px;
}


.seat-choice-btn {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background: none;
    background-color: #9AC7FE;
}

.seat-choice-btn:hover {
    background-color: #5B8DC0;
}

.order-btn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;

}

.order-btn:hover {
    background-color: #ACBAC2;
}

.button-center {
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
}
