
.seatWrap {
    text-align: center;
    font-family: 'Cabin', arial;
}

.seatingTable {
    text-align: center;
}

.tableSeats {
    border-spacing: 10px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    
}

th {
    background-color: rgb(143, 141, 137);
    height: 20px;
}

.spaceFromScreen {
    height: 100px;
}


.seatBtn {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background: none;
    background-color: #89c4b7;
}

button:hover {
    background-color: #80f1d1;
}

.orderBtn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #FEA680;
    border-radius: 4px;
    color: black;
}

.orderBtn:hover {
    background-color: #ff9669;
}

.buttonCenter {
    margin-top: 50px;
    text-align: center;
}
