.ticket-wrap {
    font-family: 'Cabin', arial;
    background-color: #eee0cc;
    text-align: center;
}

.ticket-title {
    padding: 30px 40px;
    text-align: center;
    margin: 0;
}

.line-break {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.ticket-drops {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 40px;
}

.dropdown {
    margin-left: 30px;
    margin-top: 20px; 
    background-color: #f5d19e;
    width: 40px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

.button-align {
    display: inline-flex;
    flex-direction: column;
}

.seat-btn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #FEA680;
    border-radius: 4px;
    color: black;
}

.seat-btn:hover {
    background-color: #ff9669;
}