/**This css effects both the addPayment and the checkout.css payment fields, check both
   to make sure that it looks correct on BOTH pages*/
.add-pay-wrap {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.input-field {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 30px;
    font-size: large;
    border-radius: 5px;
}

.format-side-by-side {
    margin-top: 10px;
    margin-right: 20px;
    align-content: center;
}

.exp {
    margin-right: 180px;
}

.dropdown-dates {
    width: 100px;
    height: 30px;
    margin-right: 10px;    
}

.mod {
    font-size: large;
    border-radius: 5px;
    border-bottom: 5px;
}

.cvv {
    margin-top: 10px;
    width: 60px;
    height: 30px;
    text-align: center;
}

.city {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 230px;
    height: 30px;
}

.state {
    margin-top: 5px;
    width: 55px;
    height: 30px;
    text-align: center;
}

.zip {
    margin-right: 180px;
    margin-top: 5px;
    width: 120px;
    height: 30px;
    text-align: center;
}

.add-btn {
    width: 100px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.add-btn:hover {
    background-color: #ACBAC2;
}

.button-wrap {
    margin-top: 50px;
}