.profile-wrap {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.profile-block {
    margin-left: 25%;
    text-align: left;
}

.profile-name {
    margin: 20px 20px;
}

.profile-email {
    margin: 20px 20px;
    background-color: silver;
}

.promo-checkbox {
    margin: 10px 10px;
    width: 15px;
    height: 15px;
    text-align: center;
}

.profile-table {
    margin-top: 10px;
    border: 2px solid #9AC7FE;
    width: 500px;
    text-align: center;
}

.profile-head {
    border-bottom: 1px solid black;
}

.profile-content {
    padding: 10px;
}

.card-btns {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 7px;
    background-color: #738C9D;
    border-radius: 4px;
    border: #738C9D;
    color: black;
    text-align: center;
}

.card-btns:hover {
    background-color: #ACBAC2;
}


.profile-btn {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    width: 150px;
    padding: 10px 5px 10px 5px;
    margin: 10px 30px 10px 0px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    border: #738C9D;
    color: black;
    text-align: center;
}

.profile-btn:hover {
    background-color: #ACBAC2;
}