.profile-wrap {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.profile-center {
    display: inline-flex;
    flex-direction: column;
}
.profile-btn {
    width: 150px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.profile-btn:hover {
    background-color: #ACBAC2;
}