.single-movie-wrap {
    padding: 10px;
    flex: 9;
}

.single-movie-img {
    margin-right: 30px;
    height: 400px;
}

.single-movie-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.movie-info {
    font-family: 'PT Sans', sans-serif;
}

.header-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-booking {
    font-family: 'PT Sans', sans-serif;
}

.times {
    margin: 10px;
    width: 70px;
    padding: 5px;
    text-decoration: none;
    background-color: #738C9D;
    border-radius: 4px;
    color: black;
}

.times:hover {
    background-color: #ACBAC2;
}