
/*Temp background color for all pages*/
html {
        background-color: #f9f7f3;
}

.home-wrap {
        text-align: center;
        justify-content: center;
        background-size: cover;
        font-family: 'Open Sans', sans-serif;
        color: black;
        display: flex;
        flex-direction: column; 
}

.search-block {
        margin-top: 20px;
        margin-right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

.search-bar {
        width: 300px;
        height: 30px;
        font-size: large;
        border-radius: 5px;
        margin-right: 5px;
}

.search-btn {
        border: none;
        padding: 10px 10px;
        cursor: pointer;
        background-color: #496A81;
        border-radius: 5px;
}

.search-btn:hover {
        background-color: #5F7C90;
}

.list-titles {
        border-radius: 10px; /* Invisible right now unless you add a bg color*/
}

.movie-title {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 30px 0 20px;
}

/* Makes the background behind the words the same as the background of the page*/
h1 span {
        background:#f9f7f3; 
        padding:0 10px; 
}
